VITE_FIREBASE_API_KEY="AIzaSyBgLAqHv4-RFP60CwcbV5Zl4B1zyJ8zZjA"
VITE_FIREBASE_AUTH_DOMAIN="restaurant-f8fdf.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="restaurant-f8fdf"
VITE_FIREBASE_STORAGE_BUCKET="restaurant-f8fdf.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="1092544605071"
VITE_FIREBASE_APP_ID="1:1092544605071:web:58631944872383010436"

VITE_CLOUDINARY_CLOUD_NAME="dr09ffigi"
VITE_CLOUDINARY_UPLOAD_PRESET="restaurant_preset"
VITE_CLOUDINARY_FOLDER="samples/ecommerce"
VITE_TRANSLATION_API_URL=
VITE_TRANSLATION_API_KEY=
